@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<div id="pieplaceholder">
    <img src="~/Content/piechart%20image.jpeg" width="50%" style="display:inline; float:left"/>
    <img src="~/Content/barchart%20image.jpeg" width="50%" style="display:inline; float:left"/>
</div>
<div id="barplaceholder">
    
</div>
