@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>
<div>
    Dhuka, Zoheb H <br />
    Software Developer <br />
    <p>
        Summary:
        Application Architect and Developer with expertise on BigData Technologies, Python, Django, MongoDB, REST, AWS (Amazon Web Services), ASP.NET Web Form/MVC 3, C#.NET, LINQ to SQL, Entity Framework 4.0, LINQ, SQL SERVER 2005/08, MySQL, HTML, CSS, Java Script, JQuery, AJAX.
        Specialties: Expertise on BigData Technologies like Apache Hadoop, Map Reduce, HDFS, PIG/HIVE, HBase, MongoDB, MySQL, Python, Django, REST services and API Integration, other technologies like C#.NET, ASP.NET, HTML, CSS, LINQ to SQL, LINQ, JavaScript, XML, AJAX, SQL SERVER,Entity Framework 4.0.
    </p>
    <p>Experience: Software Developer  having more than 5 years of IT experience</p>
</div>